html{
  font-size: 100%;
  height: 100%;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: white;
  max-width: 80%;
  min-width: 60%;
  min-height: 100%;
  margin: 0 auto;
}

.head-title h1{
  padding: 20px 0 0 0;
  margin: 0;
}

/* login part */
.login-components{
  padding: 10px 0 10px 0;
  display: block;
  float: right;
}

#email-field, #password-field{
  border-radius: 5px;
}

/* central body */
.main-part{
  clear: both;
}

.list-msg{
  list-style: none;
}

/* messaging part */
#message-field{
  width: 60%;
}

.data-entry{
  width: 100%;
  position: absolute;
  bottom: 0;
}
